@import "../../assets/stylesheets/flexPoint.scss";
@import "../../assets/stylesheets/mediaQuery.scss";
@import "../../assets/stylesheets/utils.scss";

* {
  box-sizing: border-box;
}
.about-wrapper {
  font-family: Overlock;
  min-height: 100vh;
  height: auto;

  .banner {
    height: 85vh;
    background: $black;
    opacity: 0.8;
    @include flexPoint(row, center);
    @include responsive(tab)  {
      height: 95vh;
    }
    .banner-text {
      padding: 2rem;
      font-size: 3.8rem;
      color: $white;
      text-align: center;
      @include responsive(tab)  {
        width: 60%;
      }
      @include responsive(desktop)  {
        width: 50%;
      }
    }
  }

  .tier-heading {
    text-transform: capitalize;
    color: $very-grey;
    font-family: 'Rationale', sans-serif;
    font-weight: 400;
  }
  .main-parent {
    @include responsive(tab) {
      padding: 3rem;
    }
    @include responsive(desktop) {
      padding: 5rem;
    }
    @include responsive(large-screen) {
      padding: 7rem;
    }
    .three-tier {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1.5rem;
      @include responsive(tab) {
        height: auto;
        width: 100%;
        flex-direction: row;
      }
      .tier {
        width: 100%;
        @include responsive(tab) {
          padding: 0 1.5rem;
        }
      }
      .image-desc {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .desc-img {
          height: 80vh;
          width: 100%;
          background: url("../../assets/images/Idrisdubai.jpeg") no-repeat;
          background-position: center;
          background-size: cover;
          background-clip: padding-box;
          @include responsive(tab) {
            height: 50vh;
          }
        }
        .desc-text {
          display: none;
         @include responsive(tab) {
          display: block;
          width: 100%;
          margin: 0 auto;
        }
        @include responsive(desktop) {
          width: 100%;
          padding: 0;
        }
        }
      }
      .text-desc {
        border-top: 1px solid $very-grey;
        padding: 0 1.5rem;
        font-size: 1.5rem;
        @include responsive(tab) {
          font-size: 1.5rem;
          line-height: 2;
          border-top: none;
          
          h2 {
            text-transform: capitalize;
            color: $very-grey;
            font-family: 'Rationale', sans-serif;
            font-weight: 400;
          }
          div {
            line-height: 1.7;
            text-align: center;
            color: $more-grey;
            text-align: left;
          }
        }
      }
      .capabilities {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 50vh;
        padding: 0 1.5rem;
        font-size: 1.5rem;
        @include responsive(tab) {
          font-size: 1rem;
          align-items: center;
          margin-bottom: 2rem;
        }
        .cap {
          margin: 2rem 0;
          @include responsive(tab) {
            width: 50%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}