@import "../../assets/stylesheets/mediaQuery.scss";
@import "../../assets/stylesheets/utils.scss";


.contact{
  margin: 2rem;
  padding: 2rem;
  font-size: medium;
  border-top: 1px solid $more-grey;
  display: flex;
  flex-direction: column;
  
  @include responsive(tab){
    flex-direction: row;
  }
  @include responsive(large-screen){
    h2 {
      font-size: 5rem;
    }
  }
}
@include responsive(tab) {
  .contact > * {
    margin: 2rem;
  }
}

.work-together {
  color: $very-grey;
  text-transform: uppercase;

  @include responsive(large-screen){
    font-size: 5rem;
  }
}

.icons{
  color: $more-grey;
  cursor: pointer;
  a{
    color: $more-grey;
  }
  a:hover{
    color: $more-grey;
    text-decoration: none;
  }
  @include responsive(large-screen){
    a{
      font-size: 5rem;
    }
  }
}